<div class="dropdown" id="warehouse">
    <span class="dropdown" style="margin-left: 50px; margin-right: 80px">
        <a rel="noopener">Warehouse</a>

        <div class="dropdown-content">
            <a id="create" routerLink="/profile/warehousemanager/createwarehouse">Create a Warehouse</a>
            <a routerLink="/profile/warehousemanager/listwarehouse">List the Warehouses</a>
            <a routerLink="/profile/warehousemanager/inhibitwarehouse">Inhibit a Warehouse</a>
        </div>
    </span>
</div>
<div class="dropdown">
    <span class="dropdown">
        <a rel="noopener">Deliveries</a>

        <div class="dropdown-content">
            <a routerLink="/profile/warehousemanager/createdelivery">Create a Delivery</a>
            <a routerLink="/profile/warehousemanager/listdeliveries">List Deliveries</a>
        </div>
    </span>
</div>