<div class="dropdown">
  <span class="dropdown" style="margin-left: 50px;">
    <a rel="noopener">Trucks</a>
  </span>
  <div class="dropdown-content">
    <a routerLink="/profile/logisticsmanager/createtruck">Create a Truck</a>
    <a routerLink="/profile/logisticsmanager/listtrucks">List the Trucks</a>
    <a routerLink="/profile/logisticsmanager/inhibittruck">Inhibit a Truck</a>
  </div>
</div>

<div class="dropdown">
  <span class="dropdown" style="margin-left: 50px; margin-right: 80px">
    <a rel="noopener">Routes</a>

    <div class="dropdown-content">
      <a routerLink="/profile/logisticsmanager/createroute">Create Route</a>
      <a routerLink="/profile/logisticsmanager/listroutes">List Routes</a>
    </div>
  </span>
</div>

<div class="dropdown">
  <span class="dropdown">
    <a rel="noopener">Packagings</a>
  </span>
  <div class="dropdown-content">
    <a routerLink="/profile/logisticsmanager/createpackaging">Create a Packaging</a>
    <a routerLink="/profile/logisticsmanager/listpackagings">List the Packagings</a>
  </div>
</div>

<div class="dropdown" style="margin-left: 5em;">
  <span class="dropdown">
    <a routerLink="/profile/logisticsmanager/routeplanningone">Route Planning</a>
  </span>
</div>

<div class="dropdown" style="margin-left: 5em;">
  <span class="dropdown">
    <a routerLink="/profile/logisticsmanager/roadmap">Road Map</a>
  </span>
</div>