a,
a:visited,
a:hover {
  text-decoration: none;
  font-size: 1.2em;
}

a {
  color: #f4f6f7;
}

a:hover {
  color: #518dca;
}

.dropdown {
  color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dropdown:hover {
  color: #518dca;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 14em;
  overflow: auto;
}


.dropdown-content a {
  color: #ffffff;
  display: block;
  padding: 1em;
  text-decoration: none;
  background-color: rgb(67, 67, 67, 0.5);
}
.dropdown-content a:hover {
  color: #518dca;
  background-color: rgb(67, 67, 67, 0.8);
}